- @articles.each do |article|
    #header
        %p= article.header
    #subheader
        %p= article.subheader
    #body
        %p= article.body
    #body
        %p= article.status
    #imageplaceholder
        = image_tag("trump.jpg")