.nav
  = render partial: 'partials/navigation', locals: {articles: @articles}
.allarticlelist
  - if user_signed_in?
    - @articles.each do |article|
      =render partial: 'partials/_business_articles', collection: @categories, as: :name
      =render partial: 'partials/_politics_articles', collection: @categories, as: :name
      =render partial: 'partials/_general_articles', collection: @categories, as: :name
      =render partial: 'partials/_sports_articles', collection: @categories, as: :name
  - else
    - @articles.each do |article|
      - if article.free?
        %div{id: dom_id(article)}
          #header
            %p= article.header
          #subheader
            %p= article.subheader
          #body
            %p= article.body
          #imageplaceholder
            = image_tag("trump.jpg")