%div.font-thin.text-base.pl-4.pr-4
  %h1.mb-4.mt-4 From our Newsroom
  .allarticlelist.ml-4.mr-4
    .allarticle_grid.flex.mb-4.pl-4.pr-4
      - @articles.each do |article|
        .max-w-sm.rounded.overflow-hidden.shadow-lg.w-200.h-auto.pl-3.pr-4
          = image_tag("trump.jpg")
          - if article.free? || current_user&.subscriber
            %div{id: dom_id(article)}
              #header.px-6.py-4
                .font-bold.text-xl.mb-2= article.header
              #subheader.px-6.py-4 
                .font-bold.text-xl.mb-2= article.subheader
                %p.text-grey-darker.text-base= article.body              
          - else
            %h1 You have to subscribe to see this content
            = link_to "Become a premium subscriber", new_subscription_path

%div.font-thin.text-base.pl-4.pr-4
  %h1.mb-4.mt-4 From our Partners
  %h2.mb-4.mt-4 News
  .allarticle_grid.flex.mb-4.pl-4.pr-4
    - @apigeneral.each do | feed |
      %div.max-w-sm.rounded.overflow-hidden.shadow-lg.w-200.h-auto.pl-3.pr-4
        %h5.news-title= feed.title
        %img.w-full{:src => "#{feed.urlToImage}", :width => "300px"}/
        %p.news-content= feed.description
        %p.news-author= feed.author

  %h2.mb-4.mt-4 Politics
  .allarticle_grid.flex.mb-4.pl-4.pr-4
    - @apipolitics.each do | feed |
      %div.max-w-sm.rounded.overflow-hidden.shadow-lg.w-200.h-auto.pl-3.pr-4
        %h5.politics-title= feed.title
        %img.w-full{:src => "#{feed.urlToImage}", :width => "300px"}/
        %p.politics-content= feed.description
        %p.politics-author= feed.author

  %h2.mb-4.mt-4 Sports
  .allarticle_grid.flex.mb-4.pl-4.pr-4
    - @apisports.each do |feed |
      %div.max-w-sm.rounded.overflow-hidden.shadow-lg.w-200.h-auto.pl-3.pr-4
        %h5.article-title= feed.title
        %img{:src => "#{feed.urlToImage}", :width => "300px"}/
        %p.article-content= feed.description
        %p.article-author= feed.author

  %h2.mb-4.mt-4 Business
  .allarticle_grid.flex.mb-4.pl-4.pr-4
    - @apibusiness.each do | feed |
      %div.max-w-sm.rounded.overflow-hidden.shadow-lg.w-200.h-auto.pl-3.pr-4
        %h5.article-title= feed.title
        %img{:src => "#{feed.urlToImage}", :width => "300px"}/
        %p.article-content= feed.description
        %p.article-author= feed.author

  %h2.mb-4.mt-4 Sweden
  .allarticle_grid.flex.mb-4.pl-4.pr-4
    - @apisweden.each do | feed |
      %div.max-w-sm.rounded.overflow-hidden.shadow-lg.w-200.h-auto.pl-3.pr-4
        %h5.article-title= feed.title
        %img{:src => "#{feed.urlToImage}", :width => "300px"}/
        %p.article-content= feed.description
        %p.article-author= feed.author


<<<<<<< HEAD
=======

>>>>>>> 8dd50bb698991c887a1ec4f1a9dc4e8d5dd88554
      
