= form_with model: @article, remote: false  do |f|
  %div
    = f.label :header
    = f.text_field :header
  %div
    = f.label :subheader
    = f.text_area :subheader
  %div
    = f.label :byline
    = f.text_area :byline
  %div
    = f.label :body
    = f.text_area :body
  %div
    = f.collection_select :category_id, @categories, :id, :name
    %br/
  %div
    = f.submit "Submit", class: "btn btn-success"
