<%= form_with url: new_article_path, scope: :article  do |f| %>
<div>
  <%= f.label :header %>
  <%= f.text_field :header %>
</div>
<div>
  <%= f.label :subheader %>
  <%= f.text_area :subheader %>
</div>
<div>
  <%= f.label :byline %>
  <%= f.text_area :byline %>
</div>
<div>
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>
<% end %>